html{
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Maven Pro', sans-serif;
	padding: 0;
	margin: 0;
	color: #fff;
/*	background-color: black;
*/}
a {
	text-decoration: none;
	color: #fff;
} 
.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 10vh;
	background-color: #f19433;
	margin-top: 0;

}
.logo {
	margin-left: 10px;
	color: #fff;
	font-size: 30px;
}
.right-nav {
	display: flex;
	justify-content: space-around;
	margin-right: 20px;

}
.nav-text {
	margin-right: 20px
}
.container {
}
.content {
	display: flex;
	/*height: 80vh;*/
	padding: 10px
}
.main {
	flex: 60vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #f19433;
	justify-content: center;
}
.sidebar {
	flex: 20vw;
	
}
.sidebar-c {
		position: fixed;
		height: 70vh;
		width: 20vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #f7d0a7;

}
	.add-meal {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
.right-sidebar {
	flex: 20vw;
	
}
.sidebar-d {

}
.imageUp {
	margin: 5px 0;
	background-color: #eac26f;
	font-size: 20px;
	color: #fff;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0%;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-header {
    padding: 2px 16px;
    background-color: #f19433;
    color: white;
}

/* Modal Body */
.modal-body {
	padding: 2px 16px;
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #f19433;
    color: white;
}
.sub {
	margin: 10px 0;
	color: #fff;
	font-size: 20px;
	background-color: #eac26f;
}
#f-awe {
	color: #f19433
}

/* Modal Content */
/* .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
} */

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.meal-info {
	display: flex;
	flex-direction: column;
	border:	1px solid #deddd8;
	width: 40%;
	height: 400px;
	margin: 10px;
	outline: none;
	padding: 0;

}
.meal-info:hover {
	box-shadow: inset -1px 0px 1px 2px rgba(164, 182, 189, 0.3), 0 6px 20px 0 rgb(233, 212, 157);
}
.foodies {
	height: 60%;
}
.foodD {
		background-color: #fff;
		height: 30%;
		padding: 2px 5px;
		
	}
	.foodD h3 {
		margin: 0;
		text-align: center;
	}
	.foodD p{
		padding: 0 0px 0px 0px;
		margin: 0;
		line-height: 1.2;
		text-align: center;
	}
	.btns {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000;
		margin: 10px
	}
	.order-now {
		/*background-color: blue;*/
		height: 15%;
		padding-top: 10px;
		
		text-align: center;
		background-color: inherit;
		border: none;
		width: 50%;
		border-top: 1px solid grey;
    outline: none;
    font-size: 20px;
 

	}
	footer {
/*	margin-top: 10px;
*/	width: 100%;
	background-color: #f19433;
	height: 50px;
	bottom: 0;
}
	.footNav{
		display: flex;
		width: 100%;
		flex-flow: row ;
	}
		.footNav a{
			
			padding: 10px 15px;
		}
		.copyR{
			margin-right: auto;
		}

@media only screen and (max-width: 900px) {
	
}
@media only screen and (min-width: 901px) {
	
}