html{
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Ubuntu Mono', monospace;
	padding: 0;
	margin: 0;
/*	background-color: black;
*/}
a {
	text-decoration: none;
	color: #fff;
}
.container {
}
h1 {
	text-align: center;
	color: #bc6000
}
.top-nav { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 10vh;
	background-color: #f19433;
	margin-top: 0;

}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 20vw;
	height: 30vh;
}
.image {
	margin-top: 10px;
	width: 18vw;
	height: 20vh;
}
.logo {
	margin-left: 10px;
	color: #fff;
	font-size: 30px;
}
.right-nav {
	display: flex;
	justify-content: space-around;
	margin-right: 20px;

}
.nav-text {
	margin-right: 20px
}
.orders-h {
	display: flex;
	/* font-size: 35px; */
	flex-direction: column;
	align-items: center;
	color: #f19433;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
tr.headings {
	background-color: #f19433;
	border: 1px solid #f19433;
	color: #fff;
	border-collapse: collapse;
}
table {
    /* border: 1px solid black; */
	border-collapse: collapse;
	margin: 40px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
td, th {
    
    text-align: center;
    padding: 15px;
}
.total {
	font-size: 30px;
	font-style: bold;
}

	footer {
/*	margin-top: 10px;
*/	width: 100%;
	background-color: #f19433;
	height: 50px;
	bottom: 0;
}
	.footNav{
		display: flex;
		width: 100%;
		flex-flow: row ;
	}
		.footNav a{
			
			padding: 10px 15px;
		}
		.copyR{
			margin-right: auto;
		}