.pagination {
  display: flex;
  justify-content: center;
  border-radius: .25rem;
  padding: 0;
}

.pagination .disabled a {
  color: #73818f;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #c8ced3;
}

.pagination a{
  position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #2185d0;
    background-color: #fff;
    border: 1px solid #c8ced3;
}

.pagination .active a{
  z-index: 1;
  color: #fff;
    background-color: #2185d0;
    border-color: #2185d0;
    outline: none;
}
.pagination li {
  cursor: pointer;
  list-style: none;
}

.pagination li a:focus{
  outline: none;
}

.center-text {
  width: 100%;
  text-align: center;
}

.capitalize {
  text-transform: uppercase
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  color: '#F50057';
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000000000;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  margin: 2px;
  border: 2px solid #f50057;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f50057 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ui.selection.dropdown {
  min-width: 1rem;
}

.o-row-item input {
  width: 70%;
}

.address {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.__react_component_tooltip.type-dark {
  color: #fff;
  background-color: #2085d0;
}

.order-modal {
  width: 40%;
}

.center-items {
  justify-content: center;
}

.order-item-img {
  width: 80px;
  margin: 5px;
}

.order-item-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.order-history-item {
  display: flex;
  margin: 0.4rem;
    padding: 5px;
    background: #f5f9fc;
}

.order-item-container {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.order-status {
  width: 25%;
}

.order-details {
  display: flex;
  width: 35%;
  flex-direction: column;
}

.order-history-item {
  display: flex
}

.call-to-action-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
    width: 20%;
}

.call-to-actn {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.call-to-actn button {
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  padding: 0.5rem;
  outline: none;
}

.save-item {
  background-color: #81be16;
}

.edit-order-item {
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  padding: 0.5rem;
  outline: none;
  width: 4.2rem;
  height: 39%;
  align-self: center;
  background-color: #81be16;
}

.order-item-qty {
  width: 50%
}

.save-cancel-btn {
  display: flex;
  height: 100%;
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-total h2 {
  margin: 1rem;
}