html{
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Ubuntu Mono', monospace;
	padding: 0;
	margin: 0;
/*	background-color: black;
*/}
a {
	text-decoration: none;
	color: #fff;
}
.container {
	background-image: url("../images/pexels-photo-262918.jpeg");

}
.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 10vh;
	background-color: #ae704a;
	margin-top: 0;

}
.logo {
	margin-left: 10px;
	color: #fff;
}
.right-nav {
	display: flex;
	justify-content: space-around;
	margin-right: 20px;

}
.nav-text {
	margin-right: 20px
}
.coverContainer {
	display: flex;
	height: 90vh
}
.coverImg {
	width: 100%;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 70vh;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.top-content {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.info {

}
.top-content-header {
	text-align: center;
	margin: 0 
}
.topP {
	width: 80%;
	text-align: center;
}
.bottom-content {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.loginBtn {
	border: none;
    border-bottom: 1px solid #fff;
    background: #ae704a;
    outline: none;
    font-size: 16px;
    color: #fff;
    height: 40px;
    width: 15vw;
    margin-right: 10px;
}
.later a{
	color: #fff;

}

.btns {

}